---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mktxp
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mktxp:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/akpw/mktxp
              tag: 1.2.15@sha256:b64eb42010062c17d40cc367c0cb144d915794bd8441aefd5422956b2ebe3914
            args: ["--cfg-dir", "/mktxp_config", "export"]
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: true
            #   capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 500m
              limits:
                memory: 512Mi
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          metrics:
            port: 49090
    serviceMonitor:
      app:
        endpoints:
          - port: metrics
    persistence:
      config-file:
        type: secret
        name: mktxp-credentials
        globalMounts:
          - path: /mktxp_config
