---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app desktop
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
    timeout: 5m
  values:
    controllers:
      desktop:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          network:
            image:
              repository: alpine
              tag: latest
              pullPolicy: IfNotPresent
            env:
              - name: DEV
                value: eth0
            command:
              - "sh"
              - "-c"
              - |
                apk update
                apk add iproute2 -y
                POD_IP=$( ip route | grep $DEV | grep default | tr -s ' ' | cut -d ' ' -f 3) && \
                ip route del default via $POD_IP
                ip route add 10.69.0.0/16 via $POD_IP dev $DEV && \
                ip route add 10.96.0.0/16 via $POD_IP dev $DEV && \
                echo -e "\nip route after fix:" && ip route
            securityContext:
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              allowPrivilegeEscalation: true
              capabilities:
                add:
                  - NET_ADMIN
        containers:
          app:
            image:
              repository: docker.io/linuxserver/webtop
              tag: amd64-ubuntu-kde@sha256:59f0850cbf741640b8c9e7bf0a991904b681971293c63c1b803bba0213183b5b
            env:
              TZ: America/New_York
              PUID: 1000
              PGID: 1000
              DOCKER_MODS: linuxserver/mods:universal-package-install
              INSTALL_PACKAGES: ffmpeg|ffmpegthumbs|vlc
              PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: selkies-auth-secret
                    key: password
            securityContext:
              {}
              # allowPrivilegeEscalation: true
              # readOnlyRootFilesystem: false
              # capabilities: { drop: ["ALL"] }
            stdin: true
            tty: true
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
                amd.com/gpu: 1
              limits:
                cpu: 8
                memory: 8Gi
                amd.com/gpu: 1
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "vpn",
            "namespace": "kube-system",
            "ips": ["10.0.40.11/24"],
            "mac": "42:5c:70:f0:53:45"
          }]
      securityContext:
        {}
        # runAsNonRoot: false
        # runAsUser: 508
        # runAsGroup: 508
        # fsGroup: 508
        # fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: desktop
        ports:
          http:
            primary: true
            port: &port 3000
    ingress:
      app:
        className: internal
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
    # route:
    #   app:
    #     hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
    #     parentRefs:
    #       - name: internal
    #         namespace: kube-system
    #         sectionName: https
    #     rules:
    #       - backendRefs:
    #           - identifier: app
    #             port: *port
    persistence:
      # cache:
      #   type: emptyDir
      #   globalMounts:
      #     - path: /cache
      # dshm:
      #   type: emptyDir
      #   globalMounts:
      #     - path: /dev/shm
      config:
        existingClaim: desktop
      media:
        type: nfs
        server: 10.0.10.3
        path: /mnt/storage/k8s/media
        globalMounts:
          - path: /mnt/public
