---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app omada
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
    timeout: 5m
  values:
    controllers:
      omada:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          network:
            image:
              repository: alpine
              tag: latest
              pullPolicy: IfNotPresent
            env:
              - name: DEV
                value: eth0
            command:
              - "sh"
              - "-c"
              - |
                apk update
                apk add iproute2 -y
                POD_IP=$( ip route | grep $DEV | grep default | tr -s ' ' | cut -d ' ' -f 3) && \
                ip route del default via $POD_IP
                ip route add 10.69.0.0/16 via $POD_IP dev $DEV && \
                ip route add 10.96.0.0/16 via $POD_IP dev $DEV && \
                echo -e "\nip route after fix:" && ip route
            securityContext:
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              allowPrivilegeEscalation: true
              capabilities:
                add:
                  - NET_ADMIN
        containers:
          app:
            image:
              repository: docker.io/mbentley/omada-controller
              tag: 6.0@sha256:7dbce80c70d091d295475cabfaa1f806b1223042b1fed4c1f79a6f4643db4fe0
            env:
              MANAGE_HTTP_PORT: "8088"
              MANAGE_HTTPS_PORT: &manage-https "8043"
              PORTAL_HTTP_PORT: "8088"
              PORTAL_HTTPS_PORT: "8843"
              PORT_APP_DISCOVERY: "27001"
              PORT_OLT: "19810"
              PORT_DISCOVERY: "29810"
              PORT_MANAGER_V1: "29811"
              PORT_ADOPT_V1: "29812"
              PORT_UPGRADE_V1: "29813"
              PORT_MANAGER_V2: "29814"
              PORT_TRANSFER_V2: "29815"
              PORT_RTTY: "29816"
              PORT_DEVICE_MONITOR: "29817"
              TZ: America/New_York
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /ping
            #         port: *port
            #       initialDelaySeconds: 0
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 3
            #   readiness: *probes
            securityContext:
              {}
              # allowPrivilegeEscalation: true
              # readOnlyRootFilesystem: false
              # capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: kube-system/mgmt-bridge
      securityContext:
        {}
        # runAsNonRoot: false
        # runAsUser: 508
        # runAsGroup: 508
        # fsGroup: 508
        # fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: omada
        ports:
          http:
            primary: true
            port: *manage-https
            protocol: HTTPS
    ingress:
      app:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      data:
        existingClaim: omada
        globalMounts:
          - path: /opt/tplink/EAPController/data
