---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
resources:
  - ./cloudflare-dns/ks.yaml
  - ./cloudflare-tunnel/ks.yaml
  # - ./echo-server/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./ingress-nginx/ks.yaml
  - ./k8s-gateway/ks.yaml
